name: CI/CD
on:
  release:
    types: [published]
jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v1.14
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Configure and build
        run: |
          cmake -G Ninja -B build
          cd build
          ninja
      - name: Updoad file
        uses: actions/upload-artifact@v4
        with:
          name: libvalidation.a
          path: ./build/libvalidation.a
